body{
	background-image: url(bg.jpg);
font-family: sans-serif;
color: #fff;
}

form{
	color: #fff;
	background-color: #000;
	width: 150%;
	height: 400px;
	margin-top: 150px;
	padding-top: 5px;

}

h2{
	font-size: 42px;
	
}